{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "not ie <= 11"
        ]
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-refresh/babel"
      ]
    },
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }],
        ["transform-remove-console", { "exclude": ["error", "warn"] }]
      ]
    }
  }
}
