node_modules
npm-debug.log
client/node_modules
client/dist
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.DS_Store
*.log
uploads/*.mp3
uploads/*.wav
uploads/*.m4a
